{{#if success_msg}}
    <div class="errorsContainer">
        <div class="msgBox success">&#9745; {{success_msg}}</div>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="errorsContainer">
        <div class="msgBox error">&#9888; {{error_msg}}</div>
    </div>
{{/if}}
