<div class="backgroundCircle"></div>
<section class="homeCardContainer">
    <div class="mainCard">
        <h1>Venha fazer parte da comunidade</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptates rerum assumenda quisquam repellat quasi corrupti temporibus! Pariatur amet, consequuntur. Esse vel dicta illo mollitia nostrum quidem eligendi, debitis id?</p>
        <div class="cardActions">
            <a href="/user/login"><button>Entrar</button></a>
            <a href="/user/register"><button>Registrar</button></a>
        </div>
    </div>
</section>
